.vscode/
RegularisedCCA.egg-info/
/**/__pycache__

tests/play.py
#expmts/**/estimates/
expmts/out/detail
real_data/**/*
# for now want to keep local and have minimal data on github; later will likely need to add in